<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel ="stylesheet" href="/dashboard.css"/>
    <title>Document</title>
</head>

<body>
    <h2>Admin Dashboard</h2>
    <div>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" value="Upload" placeholder="Upload" />
            <input type="text" name="title" placeholder="Title" />
            <input type="text" name="description" placeholder="description" />
            <input type="submit" value="Upload"  id = "upload"/>
        </form>

    </div>
   
    <ul id ="filesContainer">
        <% files.forEach(file => {%>
        <li><img src=<%=file.url %> style = "width:120px; height:100px;"> </li>
        <li><%=file.title %></li>
        <li><%=file.description %></li>
        <hr>
        <%}); %>
    </ul> 


    <a href="/users/logout"><button id = "btn">Logout</button></a>
</body>

</html>