<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/jquery.min.js"></script>
</head>
<body>
    <h1>Dashboard </h1>
    <h2>Welcome to Cards & more</h2>
    <input type="text" id="searchTerm" />
    <button id="searchBtn">Search</button>
    <ul id="filesContainer">
        <% files.forEach(file => {%>
        <li><%=file.title %></li>
        <li><%=file.description %></li>
        <li><img src=<%=file.url %> > </li>
        <li><a href=`/download?` >download</a></li>
        <hr>
        <%}); %>
    </ul>

    <a href ="/users/index">Logout</a>
    <script src="/static/search.js"></script>
</body>
</html>