body{
    /* background-color: whitesmoke; */
    background-image: url(/pexels-pixabay-269767.jpg); 
    background-size: cover;
    /* color:whitesmoke; */
}
h1{
    text-align: center;
    color:#000000;
    font-size: 7rem;
    font-style: italic;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
}

p {
    color:black;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
}

#main{
    text-align: center;
    margin-top: 30rem;
}

li{
    list-style-type: none;
}

#name{
border:none;
width:50rem;
}

#email{
    border:none;
    width:50rem;
 }

#password{
        border:none;
        width:50rem;
}

#submitBtn{
    /* background-color: #f90493bb;
    color: black;
    opacity: 0.8;
    width:150px;
    height:70px;
    font-size: 15px;
    text-align: center; */
    color:black;
}